@model IEnumerable<TaskAssigner.Models.Developer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Tags
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @String.Join(", ", @item.Tags.Select(t => t.Name).ToArray())  
            </td>
        
    </tr>
}

</table>
